html{
      margin: 0;
      padding: 0;  
      height: 100%;
}   

body{
    margin: 0;
    padding: 0;  
    height: 100%;
}   

.cabecalho{
background-color: aliceblue;
width: auto;
padding:30px;
color:blue (2,5,8);
font-size: 20;
}

.conteudo{
background-image: url(fundo.jpg);
width: auto;
padding: 30px;
color: blue (17,20,24);
font-size: 20;
}

     H1{ font-size: xx-large;


     }



