
body{background-color:B0E0E6;
}

H1{text-align:left;
    color:#9400D3;
}

H2{text-align:right;
    color:#1E90FF;
}

H3{text-align:center ;
    color:#00CED1;
}

H4{text-align: justify;
    color: #DC143C;
background-color: azure;
}